// * global variables

@import "node_modules/bootstrap/scss/bootstrap";
@import "react-loader-spinner/dist/loader/css/react-spinner-loader.css";
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');

$blue-sapphire: #22577aff;
$cadet-blue: #38a3a5ff;
$medium-aquamarine: #57cc99ff;
$light-green: #80ed99ff;
$tea-green: rgb(195, 221, 198);

body {
  font-family: 'Martel Sans', sans-serif;
  height: 100vh;
  text-align: center;
}

p {
  font-size: 1em;
}

.btn-custom, .dropdown-toggle {
  background-color: yellow;
  color: black;
  border: none;
  border-radius: 20px;
  padding: 0.5em;
}

.btn:hover {
  background-color: $medium-aquamarine;
}

#loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff6699;
}

#home, #quiz {
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(./images/shutterstock_1818780107.jpg);
  background-size: 100% 100%;
  // background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#homeContainer, #quizContainer, #gameOver {
  padding: 2em;
  background-color: rgba(255,255,255, 0.6);
  border-radius: 20px;
}

#selections, #allAnswers, .dropdown, #letsGo, a, .gameOver {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdown-menu {
  max-height: 12em;
  overflow-y: scroll;
  overflow: auto;
}

.dropdown-item:hover {
  background-color: $medium-aquamarine;
}

#quizText {
  display: flex;
  justify-content: space-around;
}

#question {
  margin: 1em;
}

#playerChoice {
  padding-top: 2em;
}

#tick {
  // opacity: 0;
  height: 3em;
  width: 3em;
}

#cross {
  // opacity: 0;
  height: 3em;
  width: 3em;
}

.answerButton, #categoryDropdown, #questionNumberDropdown {
  margin: 5px;
}

.gameOverText {
  padding: 0.3em;
}