@import "node_modules/bootstrap/scss/bootstrap";
@import "react-loader-spinner/dist/loader/css/react-spinner-loader.css";


body {
  height: 100vh;
  text-align: center;
  background-color: black;
  color: white;
}

h1 {
  font-size: 8em;
}

p {
  font-size: 1em;
}

// * Home page

#home {
  height: 100vh;
  width: auto;
  border: 5px solid blue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#selections {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.dropdown-menu {
  max-height: 10em;
  overflow-y: scroll;
  overflow: auto;
}

// * Quiz page

#quiz {
  height: 100vh;
  width: auto;
  border: 5px solid blue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal {
  color: black;
}
